apache-airflow==2.8.1
kafka-python==2.0.2
pandas==2.2.0
pyarrow==15.0.0
fastapi
uvicorn
pandas
numpy
isodate
sqlalchemy
psycopg2-binary
requests
python-dotenv
kafka-python
pyarrow
mlflow
xgboost
alembic
pydantic
pydantic-settings
# Phase 3
langchain
langchain-community
langchain-postgres
langchain-ollama
prettytable
openmeteo-requests==1.2.0
requests-cache==1.1.1
retry_requests==6.0

xgboost==2.0.3
mlflow==2.10.0
